*{
	box-sizing:border-box;
	padding: 0;
	margin: 0;
}
h1{
	margin-bottom:15px;
	font-family: Helvetica;
	text-align:center;
}
body{
	background-color: gray;
}
.row{
	width: 100%;
	position: relative;

}
.col-lg-1, .col-lg-2, .col-lg-3{
	border: solid 2px black;
	float: left;
	font-family: Helvetica;
	text-align: justify;
	padding: 10px;
	margin: 2px;
}
#sec1, #sec2, #sec3{
	text-align: center;
	background-color: khaki;
	width: 65px;
	border: solid 2px;
	padding: 2px;
	margin: 2px;
	position: relative;
}

@media (min-width: 992px){
	.col-lg-1{
		width: 33%;
	}
	.col-lg-2{
		width: 33%;
	}
	.col-lg-3{
		width:33%;
	}
	#sec1,#sec2,#sec3{
		top: -8px;
		left: 382px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.col-lg-1{
		width: 50%;
	}
	.col-lg-2{
		width: 50%;
	}
	.col-lg-3{
		width: 100%;
	}
	#sec1,#sec2{
		left: 423px;
		top: -8px;
	}
	#sec3{
		left: 918px;
		top: -8px;
	}
}
@media (max-width: 767px){
	.col-lg-1, .col-lg-2, .col-lg-3{
		width: 100%;
	}
	#sec1, #sec2, #sec3{
		top: -4px;
		left: 694px;
	}
}